host: localhost
port: 6379
password: apassword
microservices:
 - name: kickoff
   input: kickoff
   output: step1
 - name: step1
   input: step1
   output: step2
 - name: step2
   input: step2
   output: step3
 - name: step3
   input: step3
   output: step4
 - name: step4
   input: step4
