host: redis
port: 6379
microservices:
 - name: kickoff
   output: STREAM1 
 - name: OrderAccepted
   input: STREAM1
   output: STREAM2
   batch_size: 2
 - name: OrderQueued
   input: STREAM2
   output: STREAM3
   min_proc_ms: 0
   max_proc_ms: 2
 - name: OrderExecuted
   input: STREAM3
   output: STREAM4
   error_rate_percent: 0.2
 - name: OrderConfirmed
   input: STREAM4
