host: redis
port: 6379
microservices:
 - name: kickoff
   output: stream-1
 - name: OrderAccepted
   input: stream-1
   output: stream-2
   batch_size: 2
   error_rate_percent: 0.5
 - name: OrderQueued
   input: stream-2
   output: stream-3
   min_proc_ms: 0
   max_proc_ms: 2
   error_rate_percent: 4.0
 - name: OrderExecuted
   input: stream-3
   output: stream-4
   min_proc_ms: 3
   max_proc_ms: 8
   error_rate_percent: 0.2
   process_count: 3
 - name: OrderConfirmed
   input: stream-4
