{% extends "bootstrap/base.html" %}
{% block title %}Microservices Overview{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>
{% endblock %}

{% block content %}
    <div class="mermaid" >
    {{ mermaid_data }}
    </div>

<div class="container">
<table class="table table-dark">
<tr><th>Microservice</th><th>Input Stream</th><th>Output Stream</th></tr>
  {% for x in microservices %}
     <tr>
        <td> {{ x["name"] }} </td>
        <td> {{ x["input"] }} </td>
        <td> {{ x["output"] }} </td>
     </tr>
  {% endfor %}
    </table>
</div>
{% endblock %}
 
